/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-jul-2015, 11:25:34
    Author     : dalvarez
*/

body             { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3, label.rem 
                 { display: none; }
body             { font-size: xx-large; }
input, button    { font-size: x-large; }
footer           { font-size: large; }
.quiz_img { float: none; }